@charset "utf-8";

/* 색 설정 */
:root {
    --main-blue: #173E91;
    --main-orange: #F58818;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

@media screen and (max-width: 1250px) { 
    .inner{ max-width:100%; padding:0 10px; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */

/* 스크롤 커스텀 */
/* html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-blue); border-radius: 10px;} */

/* 드래그 블록 커스텀 */
/* ::selection { background-color:var(--main-color); color:#fff; } */


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; color: var(--black-color); }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p { word-break: keep-all; }
b { font-weight: 700; }
button { background: none; border: none; }
.title { font-family: 'Paperlogy'; }
.orange { color: #F58818; }
.blue { color: #81AAFF; }
.sec_top { padding-top: 80px; }
.img { max-width: 100%; }

/* @header@ */
header { width: 100%; position: fixed; top: 0; left: 0; z-index: 101; padding: 14px 0; background-color: rgba(0, 0, 0, 0.5); }
header.on { background-color: var(--black-color); }
header .inner { display: flex; align-items: center; justify-content: space-between; }
header nav {  }
header nav ul { display: flex; align-items: center; gap: 60px; }
header nav ul li { color: var(--white-color); font-weight: 500; }
header nav ul li.btn_list { display: flex; gap: 10px;  }
header nav ul li.btn_list button { width: 160px; padding: 10px 0; border-radius: 10px; display: flex; align-items: center; justify-content: center; gap: 5px; font-weight: 700; }
header nav ul li.btn_list .call_btn { background-color: #5185ED; }
header nav ul li.btn_list .go_btn { background-color: #193670; }


/* sub 메뉴 */
header .menu_wh { display: none; cursor: pointer; }
.menu_close { position: absolute; top: 25px; right: 10px; cursor: pointer; }
.sub_menu { max-width: 350px; width: 80%; right: -350px; position: fixed; height: 100%; background-color: var(--white-color); z-index: 102; transition: right .5s; }
.sub_menu.on { right: 0; }
.sub_menu .subLogo {  }
.sub_menu .sub_div .box { display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;}
.sub_menu .sub_div { position: relative; padding: 30px 30px; }
.sub_menu .sub_div ul { display: flex; flex-direction: column; gap: 30px; }
.sub_menu .sub_div ul li { font-size: 24px; font-weight: 700; }
.sub_menu .sub_btn_div { display: flex; flex-direction: column; gap: 10px; margin-top: 30px; }
.sub_menu button { width: 180px; padding: 10px 0; border-radius: 10px; display: flex; align-items: center; justify-content: center; gap: 5px; font-size: 18px; font-weight: 700; color: var(--white-color); }
.sub_menu .call_btn { background-color: #5185ED; }
.sub_menu .go_btn { background-color: #193670; }

.sub_menu_dim { opacity: 0; visibility: hidden; position: fixed; z-index: 102; top: 0; left: 0; width: 100%; height: 100%;  background-color: rgba(0, 0, 0, 0.7); cursor: pointer; }
.sub_menu_dim.on { opacity: 1; visibility: visible; }

@media screen and (max-width: 1250px) { 
    header .header_logo { width: 65px; }
    header nav ul { gap: 30px; }
    header nav ul li.btn_list button { width: 140px; font-size: 14px; }
}
@media screen and (max-width: 900px) {
    header .menu_wh { display: block; }
    header nav { display: none; }
}


/* @main@ */
/* sec1 */
section.sec1 {  }
section.sec1 .sec1_div { display: flex; }
section.sec1 .sec1_div .box { min-height: 100vh; padding: 150px 0 130px; width: 50%; display: flex; align-items: center; justify-content: center; color: var(--white-color); }
section.sec1 .sec1_div .box1 { background: url(../img/main/sec1/bg1.jpg) no-repeat center / cover; border-right: 1px solid #7f7f7f; }
section.sec1 .sec1_div .box2 { background: url(../img/main/sec1/bg2.jpg) no-repeat center / cover; }
section.sec1 .sec1_div .box1 .item {  }
section.sec1 .sec1_div .box .item .textBox { height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center; }
section.sec1 .sec1_div .box .item .text { text-align: center; font-family: 'Paperlogy'; font-weight: 700; }
section.sec1 .sec1_div .box .item .text_1 { font-size: 21px; margin-bottom: 13px; }
section.sec1 .sec1_div .box .item .text_2 { font-size: 36px; }
section.sec1 .sec1_div .box .item .content { padding: 10px 0; text-align: center; font-size: 32px; font-family: 'Paperlogy'; font-weight: 700; background-color: #173E91; border-radius: 10px; }
section.sec1 .sec1_div .box .item .content .orange { font-size: 54px;  }
section.sec1 .sec1_div .box .item .content .orange b { font-size: 32px; }
section.sec1 .sec1_div .box .item .box1_img { margin: 30px 0 20px; border-radius: 10px; }

@media screen and (max-width: 1250px) {
    section.sec1 .sec1_div .box { padding: 13vw 10px 8vw; }
    section.sec1 .sec1_div .box .item .text_1 { font-size: 18px; margin-bottom: 5px; }
    section.sec1 .sec1_div .box .item .text_2 { font-size: 30px; }
    section.sec1 .sec1_div .box .item .box1_img { margin: 15px 0; }
    section.sec1 .sec1_div .box .item .content { font-size: 24px; }
    section.sec1 .sec1_div .box .item .content .orange b { font-size: 24px; }
    section.sec1 .sec1_div .box .item .content .orange { font-size: 36px; }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 750px) {
    /* section.sec1 .sec1_div .box .item .text_1 { font-size: 16px; }
    section.sec1 .sec1_div .box .item .text_2 { font-size: 24px; }
    section.sec1 .sec1_div .box .item .content { font-size: 20px; }
    section.sec1 .sec1_div .box .item .content .orange { font-size: 30px; }
    section.sec1 .sec1_div .box .item .content .orange b { font-size: 20px; } */

    section.sec1 .sec1_div { flex-direction: column; }
    section.sec1 .sec1_div .box { width: 100%; height: unset; }
    section.sec1 .sec1_div .box1 { padding: 0 10px 10vw; padding-top: calc(10vw + 70px ); border-right: none; }
    section.sec1 .sec1_div .box2 { padding: 10vw 10px; }
    section.sec1 .sec1_div .box .item .content br { display: none; }
}

@media screen and (max-width: 500px) {
    section.sec1 .sec1_div .box .item .text_1 { font-size: 4vw; }
    section.sec1 .sec1_div .box .item .text_2 { font-size: 6vw; }
    section.sec1 .sec1_div .box .item .content { width: 100%; margin: 0 auto; font-size: 4vw; }
    section.sec1 .sec1_div .box .item .content .orange { font-size: 6vw; }
    section.sec1 .sec1_div .box .item .content .orange b { font-size: 4vw; }
    section.sec1 .sec1_div .box .item .box1_img { display: block; width: 100%; margin: 5vw auto; }
    section.sec1 .sec1_div .box .item .textBox { height: unset; }
}

/* sec2 */
section.sec2 { padding: 100px 0; background-color: #193670; font-family: 'Paperlogy'; }
section.sec2 .sec2_div { display: flex; align-items: center; justify-content: space-between; gap: ; }
section.sec2 .sec2_div .sec2_img { width: 55%; }
section.sec2 .sec2_div ul { display: flex; flex-direction: column; gap: 30px; }
section.sec2 .sec2_div ul li { width: fit-content; text-align: center; }
section.sec2 .sec2_div ul li .text_1 { font-size: 34px; font-weight: 700; color: var(--white-color); margin-bottom: 15px; flex-shrink: 0; }
section.sec2 .sec2_div ul li .text_1 b { font-size: 24px; }
section.sec2 .sec2_div ul li .imgBox {  border-radius: 10px; background-color: var(--white-color); padding: 25px; position: relative; }
section.sec2 .sec2_div ul li .imgBox::before { position: absolute; bottom: 30px; left: -14px; content: url(../img/main/sec2/rectangle.png); }
section.sec2 .sec2_div .sec2_img2 { max-width: 100%; }

@media screen and (max-width: 1250px) { 
    section.sec2 .sec2_div ul li .text_1 { font-size: 24px; }
    section.sec2 .sec2_div ul li .imgBox { padding: 15px; }
}
@media screen and (max-width: 850px) {
    section.sec2 .sec2_div { flex-direction: column; gap: 40px; }
    section.sec2 .sec2_div .sec2_img { width: 70%; }
    section.sec2 .sec2_div ul li .imgBox::before { display: none; }
    
}
@media screen and (max-width: 650px) {
    section.sec2 { padding: 8vw 0 15vw; }
    section.sec2 .sec2_div ul { width: ; gap: 20px; }
    section.sec2 .sec2_div ul li { width: 100%; }
    section.sec2 .sec2_div .sec2_img { width: 100%; }
    section.sec2 .sec2_div ul li .text_1 { font-size: 20px; margin-bottom: 10px; }
    section.sec2 .sec2_div ul li .text_1 b { font-size: 1rem; }
}
@media screen and (max-width: 500px) {
    section.sec2 .sec2_div ul { width: 100%; }
    section.sec2 .sec2_div ul li .text_1 { font-size: 18px; }
}
/* sec3 */
section.sec3 { padding: 100px 0; background: url(../img/main/sec3/bg.jpg) no-repeat center / cover; }
section.sec3 .title { margin-bottom: 30px; font-size: 36px; font-weight: 700; color: var(--white-color); text-align: center; }
section.sec3 ul { width: calc(100% + 10px); margin-left: -5px; display: flex; flex-wrap: wrap; }
section.sec3 ul li { padding: 5px; width: calc(100%/4); }
section.sec3 ul li .item { height: 100%; padding: 10px; background-color: var(--white-color); border-radius: 10px; }
section.sec3 ul li .item .sec3_img { width: 100%; text-align: center; }
section.sec3 ul li .item .text_1 { padding: 10px 0; margin: 10px 0; font-size: 16px; font-weight: 700; font-family: 'Paperlogy'; text-align: center; color: var(--white-color); background-color: #173E91; }
section.sec3 ul li .item .text_2 { font-size: 15px; font-weight: 700; line-height: 1.5rem; }

@media screen and (max-width: 1250px) {
    section.sec3 .title { font-size: 30px; margin-bottom: 15px; }
    section.sec3 ul li {  width: calc(100%/3);}
    section.sec3 ul li .item .text_2 { font-size: 14px; }
}
@media screen and (max-width: 850px) {
    section.sec3 ul li {  width: calc(100%/2);}
    section.sec3 ul li .item .text_1 { padding: 10px 5px; }
    section.sec3 ul li .item .text_2 {  }
}
@media screen and (max-width: 650px) {
    section.sec3 { background: #333; }
    section.sec3 { padding: 15vw 0; }
}
@media screen and (max-width: 500px) {
    section.sec3 ul { max-width: 400px; width: 100%; margin: 0 auto; }
    section.sec3 ul li {  width: calc(100%/1);}
    section.sec3 ul li .item .text_1 { font-size: 18px; }
    section.sec3 ul li .item .text_2 { font-size: 16px; }
    section.sec3 .title { font-size: 7vw; }
}
/* sec4 */
section.sec4 { padding: 100px 0; background: url(../img/main/sec4/bg.jpg) no-repeat center / cover; font-weight: 500; }
section.sec4 .sec4_div { display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px; }
section.sec4 .sec4_div .item {  }
section.sec4 .sec4_div .item .text_1 { font-size: 36px; line-height: 1.3; margin-bottom: 10px; color: var(--white-color); font-weight: 700; font-family: 'Paperlogy'; }
section.sec4 .sec4_div .item .text_2 { font-size: 36px; line-height: 1.3; margin-bottom: 15px; color: var(--white-color); font-weight: 700; font-family: 'Paperlogy'; }
section.sec4 .sec4_div .item .text_3 { border-top: 1px solid var(--white-color); padding-top: 15px; font-size: 20px; line-height: 1.5; color: var(--white-color); font-weight: 700; }
section.sec4 .sec4_div .item2 { width: 360px; max-width: 100%; }
section.sec4 .sec4_div ul { width: calc(100% + 10px); margin-left: -5px; display: flex; flex-wrap: wrap; }
section.sec4 .sec4_div ul li { padding: 5px; width: calc(100%/2); }
section.sec4 .sec4_img2.mo { display: none; }

@media screen and (max-width: 1250px) {
    section.sec4 .sec4_div .item .text_1 { font-size: 30px; }
    section.sec4 .sec4_div .item .text_2 { font-size: 30px; }
    section.sec4 .sec4_div .item .text_3 { font-size: 18px; }
}
@media screen and (max-width: 1100px) {
    section.sec4 .sec4_div { flex-direction: column; gap: 30px; }
    section.sec4 .sec4_div ul li { width: calc(100%/4); }
    section.sec4 .sec4_div .item2 { width: unset; }
}
@media screen and (max-width: 750px) {
    section.sec4 .sec4_div .item .text_3 br { display: none; }
    section.sec4 .sec4_div .item .text_1 { font-size: 26px; }
    section.sec4 .sec4_div .item .text_2 { font-size: 26px; }
    section.sec4 .sec4_img2.mo { display: block; }
    section.sec4 .sec4_img2.pc { display: none; }
}
@media screen and (max-width: 650px) {
    section.sec4 { padding: 15vw 0; }
}
@media screen and (max-width: 580px) {
    section.sec4 .sec4_div .item .text_1 { font-size: 4.5vw; }
    section.sec4 .sec4_div .item .text_2 { font-size: 4.5vw; }
    section.sec4 .sec4_div .item .text_3 { font-size: 14px; }
    section.sec4 .sec4_div { gap: 15px; }
}
@media screen and (max-width: 450px) {
    section.sec4 .sec4_div .item .text_3 { font-size: 12px; }
}

/* sec5 */
section.sec5 { padding: 100px 0; background: var(--white-color) url(../img/main/sec5/bg.jpg) no-repeat center / cover; }
section.sec5 .inner { display: flex; flex-direction: column; gap: 45px; }
section.sec5 .sec5_title { padding: 13px 50px; width: fit-content; margin: 0 auto; font-size: 36px; font-weight: 700; font-family: 'Paperlogy'; text-align: center; background-color: #222; color: #fff; }
section.sec5 .sec5_title .mo_br { display: none; }
section.sec5 .sec5_title .mo_br2 { display: none; }
section.sec5 .sec5_title .yellow { color: #F5C918; }
section.sec5 .item { text-align: center; }
section.sec5 .item .text_1 { font-size: 26px; font-weight: 700; font-family: 'Paperlogy'; margin-bottom: 25px; }
section.sec5 .item .imgBox { padding: 40px 10px; border: 4px solid #173E91; background-color: var(--white-color); border-radius: 5px;  }
section.sec5 .item .imgBox .sec5_img {  }
section.sec5 .item .sec5_img.mo { display: none; } 
@media screen and (max-width: 1250px) {
    section.sec5 .sec5_title { font-size: 32px; }
    section.sec5 .item .text_1 { font-size: 22px; }
}
@media screen and (max-width: 950px) {
    section.sec5 .sec5_title { line-height: 1.5; word-break: keep-all; }
    section.sec5 .sec5_title .mo_br { display: block;}
}
@media screen and (max-width: 720px) {
    section.sec5 .sec5_title { width: 100%; }
    section.sec5 .item .sec5_img.pc { display: none; }
    section.sec5 .item .sec5_img.mo { display: block; } 
}
@media screen and (max-width: 650px) {
    section.sec5 { padding: 15vw 0; }
    section.sec5 .item:nth-child(1) .imgBox .sec5_img { width: 60%; }
    section.sec5 .item .text_1 { font-size: 4vw; margin-bottom: 15px; }
}
@media screen and (max-width: 500px) {
    section.sec5 .sec5_title { padding: 10px 15px; font-size: 24px; }
    section.sec5 .sec5_title .mo_br2 { display: block;}
    section.sec5 .item:nth-child(1) .imgBox .sec5_img { width: 80%; }
    section.sec5 .item .imgBox { padding: 15px; }
    section.sec5 .inner { gap: 8vw; }
}

/* sec6 */
section.sec6 { padding: 200px 0; background: url(../img/main/sec6/bg.jpg) no-repeat center / cover; }
section.sec6 .title { margin-bottom: 45px; font-size: 36px; font-weight: 700; color: var(--white-color); text-align: center; }
section.sec6 .sec6_div { width: 100%; display: flex; justify-content: center; gap: 20px; }
section.sec6 .sec6_div .item { width: calc(100%/2); }
section.sec6 .sec6_div .item .videoBox { height: 330px;  border-radius: 10px; overflow: hidden; }
section.sec6 .sec6_div .item .text_1 { margin-top: 20px; font-size: 24px; color: var(--white-color); font-weight: 700; font-family: 'Paperlogy'; text-align: center; line-height: 1.3; }

@media screen and (max-width: 1250px) {
    section.sec6 { padding: 100px 0; }
    section.sec6 .title { font-size: 30px; margin-bottom: 25px; }
    section.sec6 .sec6_div .item .text_1 { font-size: 20px; }
    section.sec6 .sec6_div .item .videoBox { height: 26vw; }
}
@media screen and (max-width: 850px) {
    section.sec6 .sec6_div { flex-direction: column; gap: 10vw; }
    section.sec6 .sec6_div .item { width: 100%; }
    section.sec6 .sec6_div .item .videoBox { height: 54vw; }
    section.sec6 .sec6_div .item .text_1 { line-height: 1.5; }
}
@media screen and (max-width: 650px) {
    section.sec6 { padding: 15vw 0; }
    section.sec6 .title { margin-bottom: 20px; }
    section.sec6 .sec6_div .item .text_1 { margin-top: 10px; }
}
@media screen and (max-width: 500px) {
    section.sec6 .title { font-size: 7vw; }
    section.sec6 .sec6_div .item .text_1 { font-size: 4vw; }

}

/* sec7 */
section.sec7 { padding: 250px 0; background: url(../img/main/sec7/bg.jpg) no-repeat center / cover; }
section.sec7 .title { font-size: 46px; font-weight: 700; color: var(--white-color); text-align: center; margin-bottom: 50px;}
section.sec7 ul { width: 100%; display: flex; gap: 30px; justify-content: center; }
section.sec7 ul li {  }
section.sec7 ul li .item  {  }
section.sec7 ul li .item .sec7_img {  }




@media screen and (max-width: 1250px) {
    section.sec7 { padding: 18vw 0; }
    section.sec7 .title { font-size: 34px; }
}
@media screen and (max-width: 650px) {
    section.sec7 .title { font-size: 24px; margin-bottom: 25px; }
    section.sec7 ul { gap: 10px; flex-direction: column; }
}
@media screen and (max-width: 500px) {
    section.sec7 .title { font-size: 5.8vw; }
    section.sec7 ul {  margin: 0 auto; }

}



/* @footer@ */
footer { padding: 30px 0 50px; background-color: #121212;  }
footer .footer_logo { display: block; margin: 0 auto;}
footer ul { margin: 15px auto; width: 500px; display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; align-items: center; }
footer ul li { font-weight: 500; color: #717171; }
footer p.copyright { font-size: 14px; color: #717171; text-align: center; }

@media screen and (max-width: 1250px) { 
    footer .footer_logo { width: 200px; }
}
@media screen and (max-width: 650px) {
    footer { padding: 30px 0; }
    footer .footer_logo { width: 160px; }
    footer ul { width: 100%; flex-direction: column; gap: 5px; }
    footer ul li { font-size: 14px; }
    footer p.copyright { font-size: 12px; }
}